html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fffdd0e5;
    min-height: 100vh;
    gap: 15px;
}

main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

fieldset{
    border-style: none;
    display: inline-flex;
    gap: 15px;
}
header{
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-top: 27px;
    text-align: center;
}

button{
  border: 1px solid black;
  border-radius: 9px;
  background-color: #B6B6B6;
  font-weight: 700;
  width: 100px;
  height: 40px;
}

button:hover{
  background-color: #DADADA;
}

footer{
  box-sizing: border-box;
  height: auto;
  font-weight: 600;
  font-size: 18px;
  padding: 15px;
}

a{
  color: black;
}
a:hover{
  color: red;
}

.sketch-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-container{
    box-sizing: content-box;
    padding: 0;
    margin: 25px;
    border: 2px solid black;
    display: grid;
    gap: 0;
    width: 600px;
    height: 600px;
}

/*cell colors */
.grid-cell-initial{
    display:block;
    border: 1px solid #b3b0b0;
    background-color: #D8D8D8;
}

.grid-cell-black{
    background-color: black;
}

.grid-options{
  font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.grid-size, .mode-options{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.mode-options, .grid-size{
  background-color: #B6B6B6;
  border-radius: 8px;
  border: 1px solid black;
  gap:14px;
  padding:5px;
}


.mode-choice{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

legend{
  justify-self: flex-start;
}

input[type=radio]{
  accent-color: black;
}
input[name=grid-size-input]{
    width: 150px;;
}
input[type=range] {
    height: 32px;
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    background-color: #B6B6B6;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #dfdfdf;
    border-radius: 25px;
    border: 1px solid #8A8A8A;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #dfdfdf;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #dfdfdf;
    border-radius: 25px;
    border: 1px solid #8A8A8A;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #B6B6B6;
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #dfdfdf;
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #dfdfdf;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #dfdfdf;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #dfdfdf;
  }
  